.App {
  text-align: center;
}

.header {
    height: 30px;
    text-align: left;
}

.card {
    margin: 10px auto;
}

.productsContainer {
    width: 80%;
}

.formCard {
    width: 70%;
}

.formHeader {
    background-color: #d52941;
    height: 35px;
    width: 100%;
}

.formLeft {
    width: 45%;
    left: 0;
}

.formRight {
    width: 45%;
    right: 0;
}
