.App {
  text-align: center;
}

.shopName {
    width: 20%;
    font-style: italic;
}

.navButtons {
    width: 80%;
    text-align: right;
}

@media only screen and (max-width: 750px) {
    .shopName {
        display: none;
    }

    .navButtons {
        width: 100%;
        text-align: center;
    }

    .formCard {
        max-height: 100vh;
    }
}

@media only screen and (max-width: 450px) {
    .navButtons {
        font-size: .6em !important;
    }
}

.buttonBar {
    height: 40px;
    min-height: 40px !important;
}

.header {
    height: 40px;
    text-align: left;
}

.pointsList {
    padding: 0;
}

/* product */
.card {
    height: 56vh;
}

.formCard {
    width: 70%;
    max-height: 67vh;
    margin: 13vh auto;
}

.formHeader {
    background-color: #d52941;
    height: 35px;
    width: 100%;
}

.formLeft {
    width: 45%;
    left: 0;
}

.formRight {
    width: 45%;
    right: 0;
}

.productsContainer {
    width: 100% !important;
    margin: 10vh auto !important;
}

.heroImg {
    width: 100%;
    max-height: 200px;
}
