.App {
  text-align: center;
}

.shopName {
    font-style: italic;
}

.navButtons {
    align-items: center;
}

.buttonBar {
    height: 40px;
    min-height: 40px !important;
}

.header {
    height: 40px;
    text-align: left;
}

.pointsList {
    padding: 0;
}

.card {
    height: 50vh;
}

.formCard {
    width: 70%;
    margin: 13vh auto;
}

.formHeader {
    background-color: #d52941;
    height: 35px;
    width: 100%;
}

.formLeft {
    width: 45%;
    left: 0;
}

.formRight {
    width: 45%;
    right: 0;
}

.productsContainer {
    width: 100% !important;
    margin: 15vh auto !important;
}
